.fr-fieldset__element
  %fieldset.fr-fieldset
    = fields_for "release_notes_attributes[#{index}]", release_note do |release_note_form|
      = release_note_form.hidden_field :id

      .fr-fieldset__element
        %fieldset.fr-fieldset{ "aria-labelledby": dom_id(release_note, :category_legend) }
          %legend.fr-fieldset__legend.fr-fieldset__legend--regular{ id: dom_id(release_note, :category_legend) }
            Catégories

          - ReleaseNote::CATEGORIES.each do |category|
            .fr-fieldset__element.fr-fieldset__element--inline
              .fr-checkbox-group
                = release_note_form.check_box :categories, { multiple: true, include_hidden: false, id: dom_id(release_note, "#{index}_category_#{category}"), "aria-describedby" => "#{dom_id(release_note, "#{index}_category_#{category}_messages")}" }, category, nil
                %label.fr-label{ for: dom_id(release_note, "#{index}_category_#{category}") }
                  = category.humanize

      .fr-fieldset__element
        .fr-input-group
          = render Dsfr::InputComponent.new(form: release_note_form, attribute: :body, input_type: :rich_text_area)
